# Entornos virtuales
venv/
.env/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo

# Archivos temporales
*.log
*.tmp

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
