/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.caja {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.contenedor {
    height: 100px;
    padding-left: 40px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    height: 60px;
    background-size: cover;
    order: 0;
    left: 50px;
    margin-right: 50px;
}

/* Título principal */
h1 {
    font-family: 'DM Serif Text', serif;
    margin: 50px auto 0 auto;
    text-align: center;
    color: #333;
    order: 1;
    flex-grow: 1;
    padding-bottom: 60px;
}

a {
    font-family: 'DM Serif Text', serif;
    font-size: 14px;
    text-decoration: underline;
    color: #690202;
    order: 2;
    margin-left: 50px;
}

a:hover {
    color: #eb0c0c;
}

h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 20px;
    margin: 10px auto 0 auto;
    text-align: center;
    color: #333;
    padding-bottom: 30px;
}

.formulario {
    width: 91%;
    height: 91%;
    transform: translateX(5%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.columna {
    width: 24%;
    margin: 10px;
}

/* Etiquetas personalizadas */
p4, p5, p6, p7, p8, p9, p10, p12, p13, p14, p15 {
    font-family: 'DM Serif Text', serif;
    padding-left: 40px;
    display: block;
    margin-top: 30px;
    font-size: 14px;
    color: #020000;
}

/* Campos de entrada */
input[type="text"], select {
    background-color: #d5dbe0;
    margin-left: 40px;
    display: block;
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #e2e8ee;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#campo11 {
    height: 40px;
}

select {
    height: 40px;
}

/* Botones */
.btn-primaryG, .btn-primaryC {
    font-family: 'DM Serif Text', serif;
    transform: translateX(40px);
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 10px 10px;
    width: 100px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primaryG {
    background-color: #09365a;
    color: white;
}

.btn-primaryG:hover {
    background-color: #0056b3;
}

.btn-primaryC {
    background-color: #5a0936;
    color: white;
}

.btn-primaryC:hover {
    background-color: #df066e;
}

/* Estilo para enlaces tipo botón (como Cancelar en editar) */
.btn-primaryC[href] {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
