<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Registro Ciudadano</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <div class="contenedor">
    <h1 class="titulo">Sistema de Solicitud y Atención Ciudadana</h1>
    <a href="http://127.0.0.1:5000/">Regresar</a>
    <img src="{{ url_for('static', filename='logo1.png') }}" alt="logo del Sistema" class="logo">
  </div>

  <h2>Registro de Ciudadano</h2>

  <form action="/guardar" method="POST" class="formulario">
    <div class="columna">
      <p9 for="campo2">Nombre:</p9>
      <input type="text" id="campo2" name="campo2">

      <p8 for="campo3">Apellido Paterno:</p8>
      <input type="text" id="campo3" name="campo3">

      <p4 for="campo4">Apellido Materno:</p4>
      <input type="text" id="campo4" name="campo4">

      <p5 for="campo5">Fecha de Nacimiento:</p5>
      <input type="text" id="campo5" name="campo5" placeholder="dd/mm/aaaa">
    </div>

    <div class="columna">
      <p6 for="campo6">CURP:</p6>
      <input type="text" id="campo6" name="campo6">

      <p7 for="campo7">RFC:</p7>
      <input type="text" id="campo7" name="campo7">

      <p10 for="campo10">Correo electrónico:</p10>
      <input type="text" id="campo10" name="campo10">

      <p15 for="campo11">Domicilio:</p15>
      <input type="text" id="campo11" name="campo11">

      <p12 for="campo12">Celular:</p12>
      <input type="text" id="campo12" name="campo12">
    </div>

    <div class="columna">
      <p13 for="campo13">C.P.:</p13>
      <select id="campo13" name="campo13">
        <option value="90490">90490</option>
        <option value="90460">90460</option>
      </select>

      <p14 for="campo14">Género:</p14>
      <select id="campo14" name="campo14">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>

      <button type="submit" class="btn-primaryG">Guardar</button>
      <button type="reset" class="btn-primaryC">Cancelar</button>
    </div>
  </form>

</body>
</html>
